*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 4px 5px 3px rgba(1, 1, 1, 0.3);
}

.apply_box h1{
    font-size: 50px;
}

.title_small{
    font-size: 25px;
}

.form_contaier{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input, select, textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input:focus{
    outline-color: red;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    background-color: red;
    border: 2px solid transparent;
    padding: 6px 15px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 600;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: #f2e5e5;
    color: red;
    transition: 0.3s ease-out;
    cursor:pointer;
    border: 2px solid #ccc;

}

.textarea_controler{
    grid-column: 1/ span 2;
    display: flex;
    flex-direction: column;
}

textarea:focus{
    outline-color: red;

}

@media (max-width:460px) {
    .textarea_controler{
    grid-column: 1/ span 1;
}
    
}