*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    position: absolute;
    /* background-color: red; */
    width: 350px;
    left: 12%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav img{
    height: 100px;
}

#nav h5{
    left: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

#main{
    height: 100%;
    width: 100%;
    background-color: hsla(342, 21%, 30%, 0.856);
    display: flex;

}

#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2{
    height: 100%;
    width: 68%;
    background-color: rgb(0, 255, 76);
    background-image: url(../image/IMG-20241210-WA0035.jpg);
    background-size: cover;
    background-position: center;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: hsla(342, 25%, 58%, 0.247);
}

#part3{
    height: 100%;
    width: 6%;
    /* background-color: rgb(0, 17, 255); */
}

#text-div{
    /* height: 300px; */
    width: 400px;
    position: absolute;
    /* background-color: red; */
    left: 12%;
    top: 50%;
    transform: translate(0, -50%);
}

#text-div>h1{
    font-size: 95px;
    font-family: monospace;
    letter-spacing: 8px;
    color: white;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
}

#small-img-div{
    height: 400px;
    width: 300px;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    background-image: url(../image/IMG-20241210-WA0041.jpg);
    background-size: cover;
    background-position: center;
}

#vertical-text{
    position: absolute;
    right: -45%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    /* background-color: red; */
    /* width: 100%; */
}

#vertical-text h1{
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 2px;
    font-size: 70px;
    font-family: monospace;
    letter-spacing: 20px;
    color: transparent;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
}